.form-control-sm {
    height: calc(1.8125rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.grecaptcha-badge {
    visibility: hidden;
}

#login_form [name],
#signup_modal [name] {
    margin-bottom: 0;
    color: #000;
}

label>i.toggle_password {
    display: none;
    cursor: pointer;
}

label:focus>i.toggle_password,
label:hover>i.toggle_password {
    display: inline-block;
}